<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $network->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $network->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Networks'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Stores'), ['controller' => 'Stores', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Store'), ['controller' => 'Stores', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="networks form large-9 medium-8 columns content">
    <?= $this->Form->create($network) ?>
    <fieldset>
        <legend><?= __('Edit Network') ?></legend>
        <?php
            echo $this->Form->control('name');
            echo $this->Form->control('d_e_l_e_t_e');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
